/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  background-color: #000;
  color: #fff;
}

body {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.drink-card-container {
  width: 700px;
  margin: 0 auto;
}

.drink-card {
  width:100%;
  background-color: #fff;
  color: #000;
  margin-top: 30px;
  border-radius: 15px;
  padding: 30px;
  position: relative;
}

.drink-card-number {
  position: absolute;
  padding-right: 20px;
  right: 0;
}

.drink-card > h2 {
  margin-top: 0;
}

.drink-info {
  display: flex;
}

.left-panel {
  margin-right: 20px;
}

.right-panel {
  text-align: left;
  width: 100%;
}

.list-ingredients > h3:first-of-type {
  margin-top: 0;
}

.list-ingredients > ul {
  padding-left: 30px;
}

.cocktail-instructions > p {
 padding-left: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
