/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
.card-table {
  width: 90vw;
  max-width: 1300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  padding: 10px 0;
  border: 2px solid grey;
  border-radius: 5px;
}

.fish-card {
  /* width: 600px; */
  width: 48%;
  border: 2px solid blue;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.fish-card * {
  flex-grow: 1;
}

.fish-card h3 {
  margin: 10px;
}

.availability, .location-price {
  display: flex;
  flex-flow: column wrap;
  align-content: stretch;
}


.active-hours {
  margin-top: 10px;
}

.location {
  flex-flow: row wrap;
}

.pricing {
  display: flex;
  flex-flow: column wrap;
}

.pricing > section {
  display: flex;
  flex-flow: row wrap;
}

.pricing h4 {
  margin: 0;
}

.price-detail > div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

/* ############ */
/* table format */
/* ############ */

.availability-month {
  border-collapse: collapse;
  margin: 0 auto;
}

.availability-month td {
  width: 50px;
  padding: 2px 4px;
}

.availability-month td > div {
  border: none;
  padding: 2px 10px;
}

.availability-month td > div.active {
  background-color: salmon;
  border-radius: 5px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
